*{
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-image: url("pexels-fwstudio-139321.jpg");
  background-size: cover;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100px;
  position: absolute;
}


header .logo {
  float: left;
  width: 200px;
  color: aliceblue;
  /* margin-top: 20px; */
}
a{
  text-decoration: none;
}

header nav {

  
  width: 800px;
  height: 100px;
  float: right;
}

header nav li {
  list-style: none;
  float: left;
  text-decoration: none;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
